$default-font: "roboto-slab", sans-serif
$accent2: #D24A43
$accent2: #FF0000
$accent2-hover: #ff4343
$accent2-active: #c30000
$accent: #0094FF
$accent-transparent: #0094ff6e
$def-color: rgba(20, 20, 20, 0.98)
$text: #111

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
